.w-100 {
  width: 100%;
}
.collapse {
  border-collapse: collapse;
}
.overflow-auto {
  overflow: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.d-block {
  display: block;
}
.font-size-large {
  font-size: large;
}
.font-size-medium {
  font-size: medium;
}
.font-size-small {
  font-size: small;
}
.font-weight-normal {
  font-weight: normal;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-around {
  justify-content: space-around;
}
@for $val from 0 to 6 {
  .p-#{$val} {
    padding: #{$val}rem;
  }
  .pt-#{$val} {
    padding-top: #{$val}rem;
  }
  .pr-#{$val} {
    padding-right: #{$val}rem;
  }
  .pb-#{$val} {
    padding-bottom: #{$val}rem;
  }
  .pl-#{$val} {
    padding-left: #{$val}rem;
  }
  .px-#{$val} {
    padding-left: #{$val}rem;
    padding-right: #{$val}rem;
  }
  .py-#{$val} {
    padding-top: #{$val}rem;
    padding-bottom: #{$val}rem;
  }
  .m-#{$val} {
    margin: #{$val}rem;
  }
  .mt-#{$val} {
    margin-top: #{$val}rem;
  }
  .mr-#{$val} {
    margin-right: #{$val}rem;
  }
  .mb-#{$val} {
    margin-bottom: #{$val}rem;
  }
  .ml-#{$val} {
    margin-left: #{$val}rem;
  }
  .mx-#{$val} {
    margin-left: #{$val}rem;
    margin-right: #{$val}rem;
  }
  .my-#{$val} {
    margin-top: #{$val}rem;
    margin-bottom: #{$val}rem;
  }
}
@import url("./text-alignement.scss");
