$border-color: #dee2e6;
$row-hover-color: #eeeeee;
$th-bg-color: aliceblue;
* {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
body {
  display: flex;
  flex-direction: column;
  #table-wrapper {
    height: 98vh;
  }
}
table {
  th {
    position: sticky;
    top: -1px;
    background-color: $th-bg-color;
    padding: 1rem;
    user-select: none;
  }
  th span.text-upper {
    cursor: pointer;
  }
  td {
    padding: 0.5rem;
  }
  th,
  td {
    font-size: 1.5rem;
  }
  .th-sort-asc::after,
  .th-sort-desc::after {
    margin-left: 5px;
  }
  .th-sort-asc::after {
    content: "\25b4";
    padding: 0;
    margin: 0;
  }
  .th-sort-desc::after {
    content: "\25be";
    padding: 0;
    margin: 0;
  }
  tbody tr:hover {
    background-color: $row-hover-color;
  }
  tfoot {
    th {
      bottom: 0;
    }
  }
}
.border-bottom {
  border-bottom: 2px solid $border-color;
}
.border {
  border: 1px solid $border-color;
}
.table-row-border {
  border-bottom: 1px solid $border-color;
}
.page-size-dropdown {
  font-size: medium;
  text-align: center;
}
.pagination-button {
  width: 3em;
}

@import url("./utils/utils.css");
